<div id="header">

  <div class="blue">
    <%= link_to 'Five&Tens', root_path, id: 'logo' %>

    <p class="goods">5 and 10 dollar goods</p>

    <section class="cart">
      <h1>Cart</h1>
      <p class="qty">2</p>
      <p class="total">$10.00</p>
    </section>

    <div class="user">
      <a href="#login">Login</a>
      <a href="#sgnpu">Join Now</a>
    </div>
  </div>
  
  <p class="legend">Shop curated goods for $5, $10 or less. Find new items each day.</p>

</div>
