<div id="header">

  <div class="blue">
    <%= link_to 'Five&Tens', root_path, id: 'logo' %>

    <div class="goods">
      <a href="#">$5 and $10 dollar goods</a>
    </div>

    <div class="user">
      <a class="login" href="#login">Login</a>
      <a class="signup" href="#sgnpu">Join Now</a>
    </div>

    <section class="cart">
      <%= link_to cart_path do %>
        <h1>Cart:</h1>
        <p class="qty"><%= current_order.nil? ? 0 : current_order.item_count %></p>
        <% unless current_order.nil? || current_order.line_items.empty? %>
        <p class="total">$10.00</p>
        <% end %>
      <% end %>
    </section>
  </div>
  
  <p class="legend">Shop curated goods for $5, $10 or less. Find new items each day.</p>

</div>
