<div id="sidebar_info_boxes">
  <section class="free-shipping">
    <h1>Free shipping</h1>
    <p>On all orders over $50</p>
  </section>
  <section class="location">
    <h1>Five and Ten Inc.</h1>
    <p>824 S. Clifton Ave.</p>
    <p>Park Ridge, IL 60068</p>
  </section>
  <section class="contact">
    <h1>Contact</h1>
    <p>info@fiveandtens.com</p>
    <p>312-806-7979</p>
  </section>
</div>