/* Bootstarp */

@font-face {
  font-family: 'Museo700';
  src: url('/fonts/museo700.eot'); /* IE9 Compat Modes */
  src: url('/fonts/museo700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/museo700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/museo700.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Museo500';
  src: url('/fonts/museo500.eot'); /* IE9 Compat Modes */
  src: url('/fonts/museo500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/museo500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/museo500.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Museo300';
  src: url('/fonts/museo300.eot'); /* IE9 Compat Modes */
  src: url('/fonts/museo300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/museo300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/museo300.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.orange-button {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #b64836;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 2px rgba(0, 0, 0, 0.2);
  background: rgb(243,120,101); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(243,120,101,1) 0%, rgba(240,87,62,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,120,101,1)), color-stop(100%,rgba(240,87,62,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(243,120,101,1) 0%,rgba(240,87,62,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(243,120,101,1) 0%,rgba(240,87,62,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(243,120,101,1) 0%,rgba(240,87,62,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(243,120,101,1) 0%,rgba(240,87,62,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37865', endColorstr='#f0573e',GradientType=0 ); /* IE6-9 */

  &:hover {
    color: #fff !important;
    background: rgb(239,140,127); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(239,140,127,1) 0%, rgba(240,87,62,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,140,127,1)), color-stop(100%,rgba(240,87,62,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(239,140,127,1) 0%,rgba(240,87,62,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(239,140,127,1) 0%,rgba(240,87,62,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(239,140,127,1) 0%,rgba(240,87,62,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(239,140,127,1) 0%,rgba(240,87,62,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef8c7f', endColorstr='#f0573e',GradientType=0 ); /* IE6-9 */
  }

  &:active {
    position: relative;
    top: 1px;
    box-shadow: none !important;
  }
}

body {
  background: url(/assets/body-bg.jpg) repeat-x !important;
}

div.nf-container {
  width: 100%;
  float: left;
}

div#header, div#wrapper, div#footer div.center {
  width: 965px;
  margin: auto;
}

div#header {
  margin-bottom: 40px;

  div.blue {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: url(/assets/header-bg.png);
    border: solid #000;
    border-width: 0 1px 1px;
    height: 51px;
    margin-bottom: 15px;
  }

  a#logo {
    float: left;
    text-indent: -9999px;
    width: 200px;
    height: 51px;
    background: url(/assets/logo.png) no-repeat center center;
    border-right: 1px solid #003567;
    outline: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  div.goods {
    float: left;
    padding-left: 20px;
    border-left: 1px solid #2a71b2;
    height: 39px;
    padding-top: 12px;

    a {
      display: block;
      font-family: Helvetica, Arial, sans-serif;
      color: #fff;
      text-shadow: 1px 1px 0 #0e518e;
      border: 1px solid #054d8f;
      border-radius: 3px;
      line-height: 26px;
      font-size: 12px;
      padding: 0 12px 0 30px;
      background: url(/assets/arrow-white-bottom.png) no-repeat 10px 10px, -moz-linear-gradient(top, rgba(214,214,214,0.41) 0%, rgba(21,98,169,0.57) 27%, rgba(19,97,170,1) 100%); /* FF3.6+ */
      background: url(/assets/arrow-white-bottom.png) no-repeat 10px 10px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,0.41)), color-stop(27%,rgba(21,98,169,0.57)), color-stop(100%,rgba(19,97,170,1))); /* Chrome,Safari4+ */
      background: url(/assets/arrow-white-bottom.png) no-repeat 10px 10px, -webkit-linear-gradient(top, rgba(214,214,214,0.41) 0%,rgba(21,98,169,0.57) 27%,rgba(19,97,170,1) 100%); /* Chrome10+,Safari5.1+ */
      background: url(/assets/arrow-white-bottom.png) no-repeat 10px 10px, -o-linear-gradient(top, rgba(214,214,214,0.41) 0%,rgba(21,98,169,0.57) 27%,rgba(19,97,170,1) 100%); /* Opera 11.10+ */
      background: url(/assets/arrow-white-bottom.png) no-repeat 10px 10px, -ms-linear-gradient(top, rgba(214,214,214,0.41) 0%,rgba(21,98,169,0.57) 27%,rgba(19,97,170,1) 100%); /* IE10+ */
      background: url(/assets/arrow-white-bottom.png) no-repeat 10px 10px, linear-gradient(to bottom, rgba(214,214,214,0.41) 0%,rgba(21,98,169,0.57) 27%,rgba(19,97,170,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69d6d6d6', endColorstr='#1361aa',GradientType=0 ); /* IE6-9 */

      &:hover {
        color: #fff !important;
      }
    }
  } /* div.goods */

  div.user {
    float: right;
    padding-right: 20px;
    margin-top: 11px;
    border-left: 1px solid #003567;

    a {
      float: left;
      line-height: 30px;
      font-size: 12px;
      font-family: Helvetica, Arial, sans-serif;

      &.login {
        padding-left: 15px;
        border-left: 1px solid #2a71b2;
        color: #fff;
      }
      &.signup {
        margin-left: 15px;
        padding: 0 12px;
        background: #fff;
        border-radius: 3px;
        color: #007ab0;
        text-shadow: 1px 1px 0 #fff;
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(231,231,231,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
      }
    }
  } /* div.user */

  section.cart {
    float: right;
    padding-top: 16px;
    padding-right: 15px;

    h1, p {
      float: left;
      line-height: 20px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 1px 0 #0e518e;
      font-family: Helvetica, Arial, sans-serif;
    }

    h1 {
      text-transform: uppercase;
      background: url(/assets/cart-icon.png) no-repeat 0 2px;
      padding-left: 22px;
    }

    p.qty {
      margin: 0 7px;
      padding: 0 7px;
      border: 1px solid #054d8f;
      margin-top: -1px;
      border-radius: 3px;
      background: #377ab7;
    }
  } /* section.cart */

  p.legend {
    text-align: center;
    font-size: 29px;
    font-family: Museo500, Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 64px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #d0e4e3;
    background: url(/assets/header-legend-bg.png);
    color: #000;
  }

} /* div#header */

aside#sidebar {
  float: left;
  width: 216px;

  h6.taxonomy-root {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    color: #363636;
    border: 0;
    text-transform: none;
    padding-left: 17px;
  }
  ul.taxons-list {
    padding-left: 30px;
    padding-bottom: 21px;
    background: url(/assets/border-bottom.jpg) no-repeat right bottom;

    li {
      list-style: none;
      font-family: Helvetica, Arial, sans-serif;

      a {
        display: block;
        font-size: 13px;
        color: #363636;
        line-height: 40px;
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
} /* aside#sidebar */

body.two-col div#content {
  float: right;
  width: 700px;
}
body.one-col div#content {
  float: left;
  width: 100%;
}

div#footer {
  float: left;
  width: 100%;
  margin-top: 50px;

  section.mailing-list {
    text-align: center;
    padding-bottom: 20px;

    h1, a {
      display: inline-block;
      line-height: 50px;
    }
    h1 {
      font-family: Museo500, Helvetica, Arial, sans-serif;
      color: #000;
      font-size: 28px;
      font-weight: normal;
    }
    a {
      font-weight: bold;
      font-size: 26px;
      font-family: Helvetica, Arial, sans-serif;
      border-radius: 7px;
      border: 1px solid #ce432e;
      padding: 0 25px;
      margin-left: 20px;
      background: url(/assets/footer-mailing.png);
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        color: #fff !important;
      }
    }
  }

  div.grey {
    background: #3a3a35;
    padding-top: 20px;
    padding-bottom: 60px;
    float: left;
    width: 100%;

    div.center {
      padding-bottom: 10px;
    }

    nav.navigation, section.mobile, nav.social {
      float: left;

      h1 {
        font-size: 20px;
        line-height: 24px;
        font-family: Helvetica, Arial, sans-serif;
        color: #fff;
        margin-bottom: 20px;
      }
    }
    nav.navigation, section.mobile {
      width: 30%;
    }

    nav.navigation {
      padding-right: 5%;
    }

    nav.navigation, nav.social {
      li {
        float: left;
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        margin-bottom: 17px;
        line-height: 16px;

        a {
          color: #c0c0c0;
          text-shadow: 1px 1px 0 #202020;

          &:hover {
            color: #fff !important;
          }
        }
      }
    }

    section.mobile {
      padding-left: 5%;

      p {
        font-size: 14px;
        line-height: 24px;
        margin-top: -5px;
        color: #c0c0c0;
        margin-bottom: 20px;
        text-shadow: 1px 1px 0 #303030;
      }

      input {
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;

        &.text {
          font-size: 13px;
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
          border: 1px solid #2d2d29;
          background: #4e4e4a;
          height: 42px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          padding: 0 10px;
          width: 230px;
        }
        &.submit {
          width: 45px;
          height: 42px;
          background: url(/assets/mobile-submit.png);
          border: 0;
          box-shadow: none;
        }
      }
    }

    nav.social {
      width: 20%;
      padding: 0 5%;

      li {
        a {
          padding-left: 22px;
          background-repeat: no-repeat;
        }

        &.twitter a {
          background-image: url(/assets/footer-twitter-icon.png);
        }
        &.rss a {
          background-image: url(/assets/footer-rss-icon.png);
        }
        &.facebook a {
          background-image: url(/assets/footer-facebook-icon.png);
        }
        &.youtube a {
          background-image: url(/assets/footer-youtube-icon.png);
        }
        &.pinterest a {
          background-image: url(/assets/footer-pinterest-icon.png);
        }
      }
    }
  }
} /* div#footer */