ul.home-products {
  float: left;
  width: 100%;

  div.loading-next-page {
    float: left;
    width: 100%;
    background: url(/assets/ajaxload.gif) no-repeat center center;
    height: 60px;
  }

  li {
    float: left;
    width: 48%;
    margin-right: 4%;

    &.even {
      margin-right: 0;
    }

    article {
      border-radius: 5px;
      float: left;
      width: 100%;
      border: 1px solid #e0e0e0;
      margin-bottom: 30px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      img {
        display: block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      h1, p {
        line-height: 55px;
        height: 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: Museo700, Helvetica, Arial, sans-serif;
      }

      h1 {
        float: left;
        font-size: 18px;
        padding-left: 20px;
        width: 50%;
        color: #3f3f3f;
        font-weight: normal;
      }

      p {
        float: right;
        padding-right: 20px;
        font-size: 32px;
        width: 30%;
        text-align: right;
        color: #000;
      }
    }
  }
}

#sidebar_info_boxes {
  margin-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  background: url(/assets/border-bottom.jpg) no-repeat right bottom;

  section {
    padding-left: 60px;
    margin-bottom: 20px;

    h1, p {
      font-family: Helvetica, Arial, sans-serif;
    }
    h1 {
      color: #202020;
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 4px;
    }
    p {
      color: #161616;
      font-size: 12px;
      line-height: 18px;
    }

    &.free-shipping {
      background: url(/assets/free-shipping-box-small.png) no-repeat;
      padding-bottom: 2px;

      h1 {
        padding-top: 5px;
      }
    }
    &.location {
      background: url(/assets/location-map.png) no-repeat 0 2px;
    }
    &.contact {
      background: url(/assets/contact-phone.png) no-repeat;
      padding-top: 1px;

      h1 {
        display: none;
      }
    }
  }
}