div.product-show-top {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
div.product-show-left {
  float: left;
  width: 650px;
}
div.product-show-right {
  float: right;
  width: 250px;
}

h1.product-show-title {
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

div.product-show-image {
  border-radius: 7px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
div.product-show-more-images {
  float: left;
}
div.product-show-favorite {
  font-size: 12px;
  color: #505050;
}

div.product-show-description {
  float: left;
  width: 94%;
  padding: 7px 3%;
  border-radius: 7px;
  background: #f8f8f8;
  margin-bottom: 20px;
}
div.product-show-share {
  float: left;
  width: 120px;
}
div.product-show-description-text {
  float: right;
  width: 500px;
}

div.product-show-place-order {
  float: left;
  width: 100%;
  border: solid #f0f0f0;
  border-width: 1px 0;
  padding: 10px 0;

  p.new, a.order {
    font-family: Helvetica, Arial, sans-serif;
  }
  p.new {
    float: left;
    line-height: 40px;
  }
  a.order {
    padding: 0 15px;
    line-height: 40px;
    float: right;
    border-radius: 5px;
    background: orange;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    border: 1px solid #555;

    span {
      float: right;
      border-left: 1px solid #555;
      padding-left: 10px;
      margin-left: 10px;
      box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    }
  }
}

div.product-show-buy {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
}
p.product-show-secure {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 26px;
  margin-bottom: 10px;
}
div.product-show-options {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  margin-bottom: 20px;
}